*{
    margin: 0; 
    padding: 0;
    font-family: 'REM', sans-serif;
}
h2 {
    margin-bottom: 30px;
    font-size: 55px;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    background-color: #8338EC;
}
header h1 a {
    display: inline-block;
}
header ul {
    display: flex;
}
header li {
    padding: 2em;
    font-size: 21px;
}
header li a {
    color: #FFFFFF;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}
.text {
    width: 600px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 800px;
}
.element {
    border: 3px solid #8338EC;
    border-radius: 10px;
    width: 270px;
    height: 270px;
}
.first {
    background-image: url(../docs/images/categoria\ 1.png);
}
.second {
    background-image: url(../docs/images/categoria\ 2.png);
}
.third {
    background-image: url(../docs/images/categoria\ 3.png);
}
.fourth {
    background-image: url(../docs/images/categoria\ 4.png);
}
.element a {
    display: inline-block;
    width: 270px;
    height: 270px;
}
.element p {
    text-align: center;
    margin-top: 230px;
    color: #FFFFFF;
    font-size: 26px;
}