*{
    margin: 0; 
    padding: 0;
    font-family: 'REM', sans-serif;
}
h2 {
    color: #8338EC;
    font-size: 42px;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
button {
    padding: 10px 42px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
address {
    font-size: 21px;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    background-color: #8338EC;
}
header h1 a {
    display: inline-block;
}
header ul {
    display: flex;
}
header li {
    padding: 2em;
    font-size: 21px;
}
header li a {
    color: #FFFFFF;
}
.slider {
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.slides {
    display: flex;
    width: 400%;
    height: 800px;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 1s;
}
.slide img {
    width: 100%;
}
.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #8338EC;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    transition: .5s;
}
.manual-btn:not(:last-child) {
    margin-right: 10px;
}
.manual-btn:hover {
    background-color: #8338EC;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
.navigation-auto div {
    border: 2px solid #20A6FF;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    transition: .5s;
}
.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 740px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #8338EC;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #8338EC;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #8338EC;
}
.container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
    height: 450px;
    gap: 90px;
}
.container img {
    border-radius: 5px;
    width: 300px;
    height: 300px;
}
.container h3 {
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0;
}
.lancamento {
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
}
.bg-lancamento {
    display: inline-block;
    position: relative;
    bottom: 25px;
    border-radius: 12px;
    width: 240px;
}
#box-1 {
    border: 5px solid #FF0059;
}
#box-1 .bg-lancamento {
    background-color: #FF0059;
}
#box-2 {
    border: 5px solid #8338EC;
}
#box-2 .bg-lancamento {
    background-color: #8338EC;
}
#box-3 {
    border: 5px solid #FFBE0B;
}
#box-3 .bg-lancamento {
    background-color: #FFBE0B;
}
.fidelidade {
    background-image: url(../images/bg_fidelidade.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    height: 480px;
}
.fidelidade h2 {
    background-color: #FFFFFF;
}
.fidelidade p {
    background-color: #FFFFFF;
    color: #8338EC;
    display: inline-block;
    margin: 30px 0;
    font-size: 26px;
}
.fidelidade button {
    background-color: #FFFFFF;
    color: #8338EC;
}
.fidelidade img {
    position: absolute;
    bottom: 0;
    height: 450px;
}
.fidelidade-img {
    position: relative;
    /* width: 275px; */
    height: 480px;
}
.fidelidade-txt {
    text-align: right;
}
.endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    height: 700px;
}
.endereco button {
    background-color: #8338EC;
    color: #FFFFFF;
}
.endereco-txt {
    width: 600px;
}
.localizacao {
    display: flex;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}
footer {
    background-color: #8338EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
footer h1 img {
    width: 170px;
}
footer nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
footer nav ul li a {
    color: #FFF;
    font-size: 21px;
}
.socials {
    margin: 30px 0px;
}
.socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.copyright p {
    text-align: center;
    color: #FFF;
}